/Source/*.local
/Source/*.identcache
/Source/*.stat
__history
/Source/Win32/*/
*.dsk
*.~dsk
*.dsv
/Runtime/WinDomina.exe
/Runtime/kbhk.dll
/Runtime/WinDomina.map
/Runtime/WinDomina.drc
/Runtime/Config.ini